html, body {
  /* The html and body elements cannot have any padding or margin. */
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push {
  height: 60px;
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container .credit {
  margin: 20px 0;
}

.notop {
  padding-top: 0px;
  margin-top: 0px;
}

table.table tbody td
{
  vertical-align: middle;
}

#footer_logo
{
  height: 16px;
  width: auto;
}

#brand_logo
{
  max-width: 32px;
  margin-top: -3px;
}

.badge-panel img
{
  height: 175px;
}

.badge-panel h3
{
  margin-top: 0px;
}

.badge-panel .col-md-2
{
  margin-right: 15px;
}

.badge-panel .col-md-9
{
  border-left: 1px #eee solid;
  height;
}

.badge-icon
{
  height: 25px;
}

.filter-cell {
    background-color: #ffc;
    background-color: rgba(255, 255, 0, 0.2);
}