{% extends "base.html" %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block site_title %}Attendance{% endblock %}
{% block body_title %}Record attendance for session{% endblock %}

{% block content %}

{% if superuser_override %}
    <div class="alert alert-warning">
        <p>You are not a part of this Dojo. You are allowed access to this page because you are a superuser.</p>
        <p>Please be careful when changing attendance on Dojos you are not attending.</p>
    </div>
    <hr />
{% endif %}

<p>
    <strong>Session:</strong> {{ session }}<br />
    <strong>Ninjas enrolled:</strong> {{ object_list.count }}<br />
    <strong>Date:</strong> {{ session.start|date }}<br />
    <strong>Starts:</strong> {{ session.start|time }}<br />
</p>

<hr />

<p>{% bootstrap_icon "star" %} — Ninja has never attended a session before.</p>
<p>{% bootstrap_icon "user" %} — Ninja <strong>requires</strong> parental supervision.</p>

{% if object_list %}
    <table class="table">
        <tbody>
            {% for ninja_info in object_list %}
                <tr>
                    <td>
                        {{ ninja_info.ninja }}<br />
                        <span class="text-muted">
                            {% if ninja_info.ninja.not_attended_session %}
                                {% bootstrap_icon "star" %}
                            {% endif %}
                            {% if ninja_info.ninja.supervision_required %}
                                {% bootstrap_icon "user" %}
                            {% endif %}
                            age {{ ninja_info.ninja.age }} {{ ninja_info.ninja.get_gender_display|lower }}
                        </span>
                    </td>
                    <td class="col-md-1">
                        <a data-ninja-id="{{ ninja_info.ninja.id }}" class='btn btn-danger btn-undo {% if not ninja_info.attendance %}hidden{% endif %}'>Undo</a>
                        <a data-ninja-id="{{ ninja_info.ninja.id }}" class='btn btn-success btn-attending {% if ninja_info.attendance %}hidden{% endif %}'>Mark as Here</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
{% endif %}
{% endblock %}

{% block custom_js %}
    <script type="text/javascript" src="{% static 'js/jquery.filtertable.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/attendance.js' %}"></script>

    <script type="text/javascript">
    $('.btn-attending').click(function(ev) {
        mark_attendance(ev, '{% url 'attendance:record-ajax' %}', {{ session.id }}, true);
    })

    $('.btn-undo').click(function(ev) {
        mark_attendance(ev, '{% url 'attendance:record-ajax' %}', {{ session.id }}, false);
    })
    </script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('table').filterTable({
                minRows: 0, // Always show the filter
                placeholder: 'search for ninjas',
                highlightClass: 'filter-cell'
            });
        });
    </script>
{% endblock %}