{% extends "base.html" %}

{% block site_title %}Leaderboard{% endblock %}
{% block body_title %}Badge leaderboard{% endblock %}

{% block content %}

{% if object_list %}
    <table class="table">
        <thead>
            <tr>
                <th class='col-md-2'>Name</th>
                <th>Badges</th>
            </tr>
        </thead>
        <tbody>
            {% for ninja in object_list %}
                <tr>
                    <td>{{ ninja.user.get_full_name }}</td>
                    <td>
                        {% for badge in ninja.badge_set.all %}
                            <img data-toggle="tooltip" data-placement="top" title="{{ badge.name }}" class='badge-icon' src='{{ badge.image.url }}' />
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% endblock %}

{% block custom_js %}
    <script type="text/javascript">
        $('[data-toggle="tooltip"]').tooltip()
    </script>
{% endblock %}